
# ignore snippets so they are not cluttered with eslint comments
**/snippets/function.name.js
**/snippets/array-builders.js
**/snippets/array-iteration.js
**/snippets/typed-arrays.js
**/snippets/set.js
**/snippets/map.js
**/snippets/weak-collections.js
**/snippets/polymorphic-collections.js
**/snippets/regexp-flags.js
**/snippets/logger-test.js
**/snippets/beats-and-bytes.js
**/snippets/exercise.1.js
