
# ignore snippets so they are not cluttered with eslint comments
**/snippets/function.name.js
**/snippets/array-builders.js
**/snippets/array-iteration.js
**/snippets/regexp-flags.js
**/snippets/logger-test.js
**/snippets/exercise.1.js
