
/* reset */

html {
  height: 100%;
}

button, select, input {
  border-radius: 0 !important;
}

pre {
  margin: 0;
  /* prevent empty space at top when there's a child element */
  white-space: normal;
}

pre code {
  white-space: pre-wrap;
}


/* base */

body {
  min-height: 100vh;
  font-size: 24px;
  color: #555;
  background-color: #f9f9f9;
  letter-spacing: .02em;
}

::-webkit-scrollbar {
  width: 10px;  /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

/* layout */

.flex-grow {
  flex: 1;
}

.form-control-feedback {
  /* make sure the message container doesn't collapse when it's empty */
  height: 2rem;
}


/* custom */

#code-box,
#console-box {
  font-size: 1.2rem;
  border: 1px solid #ddd;
}

#console-box {
  padding: 1rem;
  color: #777;
}

.space #console-log {
  font-size: 5rem;
}

.hexdump #console-log {
  font-size: 4rem;
  font-family: courier-new, monospace;
  color: #6cebff;
}

#code-box,
#code-box .CodeMirror {
  height: 100%;
}

#console-box,
#code-box .CodeMirror {
  background-color: #fff;
}

#code-box .CodeMirror .CodeMirror-lines {
  /* virtual space on bottom */
  padding-bottom: 500px;
}

#code-box .CodeMirror .cm-matchhighlight {
  border-bottom: 1px solid;
}

#code-box .CodeMirror .CodeMirror-matchingbracket {
  text-decoration: none;
  border-bottom: 1px solid;
}

#code-box .CodeMirror .CodeMirror-selectedtext {
  border-bottom: 0 none;
}

#code-box .CodeMirror.cm-s-base16-light span.cm-string-2 {
  color: #f4bf75;
}

#code-box .CodeMirror.cm-s-base16-light .cm-matchhighlight {
  border-bottom-color: #333;
}

#code-box .CodeMirror.cm-s-base16-light .CodeMirror-matchingbracket {
  color: #6a9fb5 !important;
}

#code-box .CodeMirror.cm-s-base16-light .CodeMirror-activeline-background {
  background-color: #f6f6f6;
}

#code-box .CodeMirror.cm-s-base16-light .CodeMirror-activeline-gutter .CodeMirror-linenumber {
  color: #555;
}

#code-box .CodeMirror.cm-s-base16-light div.CodeMirror-selected {
  background-color: rgba(0, 0, 0, 0.3);
}

#code-box .CodeMirror.cm-s-base16-light .CodeMirror-selectedtext {
  color: #fff !important;
}


.btn-outline-primary {
  background-color: #fff;
}

.splitpane {
  width: 100%;
  height: 100%;
}

.left-padding-0 {
  padding-left: 0;
}

.right-padding-0 {
  padding-right: 0;
}
