
html, body, form, #app, .container-fluid, .row {
  height: 100%;
}

body {
  font-size: 24px;
  color: #555;
  background-color: #fafafa;
}

:disabled {
  color: #999;
}


/* Michał Czernow's centering hack  */
.block {
  text-align: center;
  white-space: nowrap;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  white-space: normal;
}


pre code, textarea {
  height: 600px;
  font-family: monospace;
  white-space: pre-wrap;
}

#code,
#console-log {
  font-size: 1.1rem;
  padding: 1rem;
}
#code:not(:disabled), #code:not([readonly]),
#console-log:not(:disabled), #console-log:not([readonly]) {
  color: #555;
}
#console-log {
  /* compensate for the code textarea extra space */
  margin-bottom: 2.2rem;
  background-color: #fff;
}

.form-control-feedback {
  /* make sure the message container doesn't collapse when it's empty */
  height: 1rem;
}
